<% content_for :dynamic_headers do %>
<link rel="stylesheet" href="http://code.leafletjs.com/leaflet-0.3.1/leaflet.css" />
<!--[if lte IE 8]>
    <link rel="stylesheet" href="http://code.leafletjs.com/leaflet-0.3.1/leaflet.ie.css" />
<![endif]-->
<% end %>

<h1>Visualizer</h1>
<input type="button" id="play-btn" value="loading..." />
<div id="year"></div>
<div id="year-slider"></div>
<div id="mb-map"></div>
<script type="text/javascript">
	var actors = ["","DEL","ELN","FARC","AUC"];
	var tilejson = {
		tilejson : '1.0.0',
		scheme : 'xyz',
		tiles : ['http://a.tiles.mapbox.com/v3/mga.periscopio-base/{z}/{x}/{y}.png']
	};
	var map;
	var violenceData = {};
	var dataLayer;
	var url = 'http://a.tiles.mapbox.com/v3/mga.periscopio-base.jsonp';
	var playing = false;
	var intervalId;
	var years = [];
	var step = 0;
	function createMap () {
		wax.tilejson(url,
		    function(tilejson) {
		    	// -88.8794,-9.7740,-56.3159,17.6650
		    	var NE = new L.LatLng(17.6650,-88.8794),
				SW = new L.LatLng(-9.7740,-56.3159),
				bounds = new L.LatLngBounds(SW, NE);
		        map = new L.Map('mb-map', {minZoom: 5, maxZoom: 9, maxBounds:bounds})
		          .addLayer(new wax.leaf.connector(tilejson))
		          .setView(new L.LatLng(tilejson.center[1], tilejson.center[0]), tilejson.center[2]);
				wax.leaf.interaction(map, tilejson);
		});
		//var layer = new wax.leaf.connector(tilejson); // Returns a new L.TileLayer object.
	}
	function plotYear(year) {
		if (dataLayer!=undefined) {
			map.removeLayer(dataLayer);
		}
		$("#year").html("Año: " + year);
		console.log("plot: " + year);
		var yearData = violenceData[year];
		// create the dot group layer
		dataLayer = new L.LayerGroup();
		// process each dot
		var i,l=yearData.length;
		for (i=0;i<l;++i) {
			var info = yearData[i].properties;
			var coords = yearData[i].geometry.coordinates;
			// area represents deaths
			// area = pi * (radius^2)
			var r = Math.round(Math.sqrt(info.total/Math.PI));
			var dot = new L.CircleMarker( new L.LatLng(coords[1],coords[0]), 
				{radius:r, color:'#813',fillColor:'#d60000',fillOpacity: 0.5} 
			);
			var popString = "<strong>" + info.city + ", " + info.department + "</strong><br />";
			popString += actors[1] + ": " + info.total_1 + "<br />";
			popString += actors[2] + ": " + info.total_2 + "<br />";
			popString += actors[3] + ": " + info.total_3 + "<br />";
			popString += actors[4] + ": " + info.total_4 + "<br />";
			popString += "TOTAL: " + info.total + "<br />";
			dot.bindPopup(popString);
			dataLayer.addLayer(dot);
		}
		map.addLayer(dataLayer);
	}
	function init() {
		createMap();
		$("#year-select").change(
			function () {
				plotYear($(this).val());
			}
		);
		$("#year-slider").slider({ min: 1988, max: 2005 });
		$( "#year-slider" ).slider({
			change: function(event, ui) {
				if (!playing) {
					plotYear($(this).slider("value"));
				}
			},
			click: function(event, ui) {
				if(playing) {
					stopAnimation();
				}
			}
		});
		loadData();
	}
	function loadData() {
		var dataurl = '/api.json';
		$.getJSON(dataurl, function(data) {
			console.log(data);
			// process each dot
			var i,l=data.features.length;
			var lastYear = 0;
			for (i=0;i<l;++i) {
				if (data.features[i].properties.year_of!=lastYear) {
					// new year... create array
					lastYear = data.features[i].properties.year_of;
					violenceData[lastYear] = [];
					years.push(lastYear);
				}
				violenceData[lastYear].push(data.features[i]);
			}
			// console.log(violenceData);
			plotYear(1988);
			enablePlay();
		});
	}
	function playAnimation() {
		playing = true;
		intervalId = setInterval(nextStep,300);
		$("#year-slider").slider("disable");
	}
	function stopAnimation() {
		playing = false;
		clearInterval(intervalId);
		$("#year-slider").slider("enable");
	}
	function nextStep() {
		step++;
		console.log("step:" + step);
		if (step>=years.length) {
			step=0;
		}
		$("#year-slider").slider("value",years[step]);
		plotYear(years[step]);
	}
	function enablePlay() {
		$("#play-btn").val("Play");
		$("#play-btn").toggle(function (){
			$(this).val("Pause");
			playAnimation();
		}, function(){
			$(this).val("Play");
			stopAnimation();
		});
	}
	init();
</script>